* {
  font-family: monospace;
  font-weight: bold;
}

body {
  background: #88abf7;
}

body > div {
  margin: auto;
  max-width: 70%;
}

header.info_tarefas {
  border-radius: 28px;
}

main.conteiner_tarefas {
  border-radius: 28px;
  padding: 15px;
}

.top {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.h1-nome {
  /* color: #ffffff; */
  margin: 0;
}

li {
  font-size: 1.2rem;
  overflow-wrap: anywhere;
}

.input-tarefa {
  width: 90%;
  height: 50px;
  border-radius: 9px;
  font-size: 1.3rem;
  padding: 10px;
  border: 2px solid #000000;
}

.btn-criar {
  width: 50px;
  height: 50px;
  /* background: #bbffaa; */
  /* padding: 20px 20px 20px 20px; */
  text-align: center;
  border-radius: 11px;
  cursor: pointer;
  border: 0;
  transition: 0.2s;
}

.btn-criar:hover {
  background-color: #bed3ff;
  box-shadow: 2px 2px 1px 1px #000000;
}

.lista > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background: #fff;
  padding: 10px;
  margin-top: 20px;
  border: 2px solid #000000;
  border-radius: 15px;
  box-shadow: 2px 2px 1px 1px #000000;
}

.lista > div > :nth-child(2) {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.checar-tarefa,
.apagar-tarefa,
.editar-tarefa {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #88abf7;
  border: 0;
}

.apagar-tarefa {
  background-color: rgb(230, 113, 113);
}

.tarefa-concluida li {
  color: green;
  font-style: italic;
  font-weight: bold;
  text-decoration: line-through;
}

.div-editar-tarefa {
  background: #88abf7;
  position: fixed;
  width: 50%;
  height: 50%;
  z-index: 999999;
  top: 25%;
  left: 25%;
  text-align: center;
  border: 3px solid #000000;
  /* backdrop-filter: blur(20px); */
  border-radius: 4px;
  display: none;
}

.div-editar-tarefa.abrir {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-shadow: 2px 2px 1px 1px #000000; */
}

.div-editar-tarefa input {
  width: 50%;
  border-radius: 9px;
  font-size: 1.3rem;
  padding: 10px;
  border: 1px solid #000000;
}

.div-editar-tarefa .btn-confirmar-edit {
  display: block;
  margin: 20px auto;
  /* height: 40px; */
  padding: 10px 30px;
  border-radius: 3px;
  cursor: pointer;
  background: #fff;
  border: 0;
  transition: 0.3s;
}

.div-editar-tarefa .btn-confirmar-edit:hover {
  /* background-color: #bed3ff; */
  box-shadow: 2px 2px 1px 1px #000000;
}

.div-editar-tarefa .fechar-janela {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #000000;
  cursor: pointer;
  background: rgb(230, 113, 113);
  transition: 0.2s;
}

.div-editar-tarefa .fechar-janela:hover {
  box-shadow: 2px 2px 1px 1px #000000;
}

input:focus {
  outline: none;
}

.lista {
  padding: 0;
}

.info-usuario {
  margin-bottom: 10px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-usuario button {
  height: 48px;
  width: 48px;
  border-radius: 100px;
  border: 0px;
  transition: 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #88abf7;
}

/* .info-usuario button:hover {
  box-shadow: 2px 2px 1px 1px #000000;
} */

/* Estilos Mobile */

@media (max-width: 715px) {
  body > div {
    /* margin: auto; */
    max-width: 85%;
  }
}

@media (max-width: 500px) {
  body > div {
    /* margin: auto; */
    max-width: 100%;
  }

  .div-editar-tarefa {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .div-editar-tarefa input {
    width: 70%;
    height: 30px;
    font-size: 1.2rem;
    padding: 7px;
  }

  .div-editar-tarefa .btn-confirmar-edit {
    width: 40%;
    margin: 20px auto;
    border-radius: 4px;
    border: 2px solid #000000;
    font-size: 0.8rem;
  }

  .div-editar-tarefa .fechar-janela {
    padding: 5px 10px;
  }

  .checar-tarefa {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 400px) {
  .h1-nome {
    font-size: 1.5rem;
  }

  .info-usuario button {
    top: 0;
    padding: 2px 6px;
  }

  .input-tarefa {
    font-size: 1rem;
  }

  .lista div li {
    font-size: 1rem;
  }
}
